################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldApplication/bin
/HelloWorldApplication/obj/Debug
/packages
